TELEGRAM_BOT_TOKEN=여기에_봇_토큰_입력
TELEGRAM_CHAT_ID=여기에_채팅_ID_입력

SLEEPER_USER_ID=여기에_슬리퍼_유저_ID
SLEEPER_USERNAME=여기에_슬리퍼_유저네임

LEAGUE1_ID=여기에_리그1_ID
LEAGUE1_ROSTER_ID=여기에_리그1_내_roster_id

LEAGUE2_ID=여기에_리그2_ID
LEAGUE2_ROSTER_ID=여기에_리그2_내_roster_id
